.App {
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px;
}

.card {
  border: 1px solid #d4d8d7;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-width: 275px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}